:root {
	--hero-height: 40vh;		/* コンテナの高さ */
	--focal-point: center 60%;	/* 画像の表示位置（x y） */
	--title-align: center;		/* タイトルの配置（center, flex-start, flex-end） */
	--all-background-color: mediumseagreen;
	--tab-active-color: #598665;
	background-color: var(--all-background-color);
}
.pre-hero {
	margin-top:1em;
	margin-bottom:1em;
	background-color: var(--all-background-color);
}
.top_text {
	color:white;
	font-weight:bold;
	font-size:1.2em;
	margin-top:0.5em;
	margin-bottom:0.5em;
	margin-left:2em;
	opacity:1;
	background-color: var(--all-background-color);
}
.hero-viewport {
	background-color: var(--all-background-color);
}
.hero-title {
	color:springgreen;
	text-align:center;
}
.title_sub {
	font-size:0.5em;
	font-weight:normal;
}
.tab-buttons {
  border-bottom-color: var(--tab-active-color);
}
.tab-btn.active {
  background-color: var(--tab-active-color); /* アクティブな色 */
}
.tab-item {
  border-color: var(--tab-active-color);
}

